@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

/* adicione o código abaixo para adicionar o background com degradê */
body {
  background-image: linear-gradient(180deg, rgba(255, 155, 142, 0.9), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.app-title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}